@model Checklist.Models.TemplateAttribute

@using (Html.BeginCollectionItem("TemplateAttributes"))
{
<div class="form-group row dropdownSelect">
    @Html.HiddenFor(m => m.TemplateAttributeID)
    @Html.HiddenFor(m => m.TemplateID)
    @Html.HiddenFor(m => m.TemplateAttributeType)
    @Html.HiddenFor(m => m.TemplateAttributeOrder)
    <label class="control-label col-md-2">@Html.DisplayFor(m => m.TemplateAttributeType)</label>
    <div class="col-md-9 input-group mb-3">
        @Html.EditorFor(m => m.TemplateAttributeName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Attribute Label" } })
        @Html.ValidationMessageFor(m => m.TemplateAttributeName, "", new { @class = "text-danger" })
        <div class="input-group-append">
            <button class="btn btn-outline-secondary listCollapse" type="button"><span class="fa fa-plus"></span></button>
        </div>
    </div>
    <div class="collapse col-md-9 offset-md-2 card card-body">  
        @if(Model.AttributeExtensions != null)
        {
            foreach(var e in Model.AttributeExtensions)
            {
                Html.RenderPartial("_ListOption", e);
            }
        }
        <div>
            <button class="btn btn-primary btn-sm addToListBtn" type="button"><span class="fa fa-plus"></span> Add</button>
        </div>
    </div>
</div>
}
